
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_userHeader")

<div class="page-banner">
    <h2 class="page-banner-text faq">Frequently Aksed Questions</h2>
</div>
<section id="faq-page" class="for-footer-at-bottom">
    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-md">General Questions</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card" id="card1">
                            <div class="card-header" id="headingOne">
                                <h2>
                                    <button class="btn" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is Marketplace-Notes?
                                        <img src="../../images/FAQ/add.png" alt="button for show/hide">
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt.
                                </div>
                            </div>
                        </div>
                        <div class="card" id="card2">
                            <div class="card-header" id="headingTwo">
                                <h2>
                                    <button class="btn collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        What do the University Say?
                                        <img src="../../images/FAQ/add.png" alt="button for show/hide">
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch.
                                </div>
                            </div>
                        </div>
                        <div class="card" id="card3">
                            <div class="card-header" id="headingThree">
                                <h2>
                                    <button class="btn collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        Is this legal?
                                        <img src="../../images/FAQ/add.png" alt="button for show/hide">
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-md">Uploaders</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample1">
                        <div class="card" id="card4">
                            <div class="card-header" id="headingFour">
                                <h2>
                                    <button class="btn" type="button" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="true"
                                            aria-controls="collapseFour">
                                        What can't I sell?
                                        <img src="../../images/FAQ/add.png" alt="button for show/hide">
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                 data-parent="#accordionExample1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum.
                                </div>
                            </div>
                        </div>
                        <div class="card" id="card5">
                            <div class="card-header" id="headingFive">
                                <h2>
                                    <button class="btn collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                        What notes can i sell?
                                        <img src="../../images/FAQ/add.png" alt="button for show/hide">
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                 data-parent="#accordionExample1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-md">Downloaders</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample2">
                        <div class="card" id="card6">
                            <div class="card-header" id="headingSix">
                                <h2>
                                    <button class="btn" type="button" data-toggle="collapse"
                                            data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSIx">
                                        How do i but notes?
                                        <img src="../../images/FAQ/add.png" alt="button for show/hide">
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                 data-parent="#accordionExample2">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt.
                                </div>
                            </div>
                        </div>
                        <div class="card" id="card7">
                            <div class="card-header" id="headingSeven">
                                <h2>
                                    <button class="btn collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseSeven" aria-expanded="false"
                                            aria-controls="collapseSeven">
                                        Can i edit the notes i purchased?
                                        <img src="../../images/FAQ/add.png" alt="button for show/hide">
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                 data-parent="#accordionExample2">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@Html.Partial("_Footer")