
<footer id="admin-footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-5 col-sm-5 col-5 left">
                <p>Version: 1.1.24</p>
            </div>
            <div class="col-md-7 col-sm-7 col-7 right">
                <p>Copyright &copy; Tatvasoft All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>