/* ================================== 
                Login
===================================== */
.container {
    max-width: 1470px;
}

body,
html {
    height: 100%;
    width: 100%;
}

.top-margin {
    margin-top: 100px;
}
.all-box {
    width: 100%;
    min-height: 100%;
    overflow: scroll;
    /* padding-top: 50px; */
    background-image: url("../images/login/banner-with-overlay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-form {
    padding: 50px;
    background-color: #fff;
}

.box-wrapper {
    padding-top: 3%;
    padding-bottom: 3%;
}

.box-wrapper .logo {
    margin-bottom: 25px;
}

.form-heading {
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-bottom: 20px;
}

.form-text {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 45px;
}

.box-form div.form-group {
    margin: 0;
}

.input-box {
    border: 1px solid #d1d1d1;
    height: 50px;
    margin-bottom: 30px;
}

.input-box,
label,
.box-wrapper a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.box-form #email,
.box-form #forgot-email {
    border: 1px solid #6255a5;
    border-radius: 3px;
    color: #000;
}

.box-form #password {
    border: 1px solid #ff5e5e;
    border-left: 2px solid #ff5e5e;
}

.box-form #password,
.box-form #old-password,
.box-form #new-password,
.box-form #confirm-password {
    color: #000;
    margin-bottom: 10px;
    border-radius: 3px;
}

.box-form #forgot-email,
.box-form #confirm-password {
    margin-bottom: 20px;
}

.box-form div.form-group {
    position: relative;
}

.eye-btn {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: #8a8a8a;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    right: 3%;
}

.box-form label {
    color: #333333;
    margin-bottom: 10px;
}

#signup-text a,
#login-text a {
    color: #6255a5;
}

.form-group a {
    color: #6255a5;
    margin-top: 5px;
    float: right;
}

#incorrect-pass-text {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #ff3636;
    margin-bottom: 20px;
}
#incorrect-pass-text span {
    font-weight: 600;
}
#remember-me {
    margin-bottom: 30px;
}

#remember-me-checkbox {
    border: 1px solid #d1d1d1;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
.custom-control-label:after,
.custom-control-label:before {
    width: 30px;
    height: 30px;
    top:-0.5rem;
    left: -2.5rem;
}

#remember-me-checkbox:checked:before {
    background: #6255a5;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #6255a5;
    background-color: #6255a5;
  }
  
  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
    border: 1px solid #d1d1d1;
  }


  
  .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    border-color: #6255a5;
    background-color: #6255a5;
  }
  

  
  .custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: #6255a5
  }
  
  .custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
    background-color: #6255a5
  }
#remember-me-text {
    margin-left: 20px;
    margin-top: 10px;
}

.btn:hover {
    color: #fff;
}

a.login-submit-btn {
    background-color: #6255a5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 20px;
}

.login-submit-btn.submit-btn {
    margin-bottom: 0;
}

#signup-text {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin: 0;
}

#signup-text a {
    margin-left: 5px;
}


.content-box {
    padding: 60px 0;
}

.content-box-sm {
    padding: 40px 0;
}

.btn:focus {
    box-shadow: none;
}

/* =====================================
                Navigation
========================================= */
nav {
    height: 100px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.nav-wrapper {
    width: 100%;
}

header ul.navbar-nav {
    display: flex;
    align-items: center;
}

ul.navbar-nav a {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
ul.navbar-nav li .dropdown a.nav-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
}

ul.navbar-nav li:nth-child(2) a#dropdownMenuButton {
    margin-right: 20px;
} 

ul.navbar-nav a.login-submit-btn {
    background-color: #fff;
    width: 89px;
    color: #6255a5;
    font-size: 16px;
    margin: 0;
    text-transform: none;
}

.navbar-expand-md .navbar-nav .nav-item {
    padding-right: 30px;
}

.navbar-expand-md .navbar-nav .nav-item:last-child {
    padding-right: 0;
}

.white-navbar {
    transition: none;
    background-color: #fff;
    height: 100px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
}

.white-navbar ul.navbar-nav a.login-submit-btn {
    background-color: #6255a5;
    color: #fff;
    font-size: 16px;
}

.white-navbar ul.navbar-nav a {
    color: #333333;
}

.white-navbar .navbar-nav img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 30px;
}
.white-navbar ul.navbar-nav a.active,
#mobile-nav #mobile-nav-content a.link.active {
    color: #6255a5;
    border-bottom: 4px solid #6255a5;
}

#mobile-nav li a.link {
    padding-bottom: 7px;
}

/* Headings */
.heading-md {
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

.heading-sm {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin-bottom: 20px;
}

.para-text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}

.btn-height.btn {
    padding-top: 13px;
    padding-bottom: 13px;
}

hr {
    margin: 0;
}

footer#user-footer p {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

footer#user-footer ul {
    float: right;
    margin: 0;
}

.footer-elements {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

ul.social-icons li {
    display: inline-block;
    padding: 0 5px;
}

.social-icons li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 35px;
    border-radius: 50%;
    color: #fff;
    background-color: #6255a5;
}
.relative {
    position: relative;
}


.for-upload-center {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.file-upload-box {
    border: 1px solid #d1d1d1;
    margin-bottom: 30px;
}

#profile-pic,
#display-pic,
#upload-note-pic,
#note-preview {
    cursor: pointer;
    opacity: 0;
    height: 110px;
    margin-bottom: 0;
    z-index: 10;
}

.for-upload-center p {
    color: #8a8a8a;
    font-size: 14px;
    margin: 0;
}

.down-arrow {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.remove-arrow {
    -webkit-appearance: none;
}

.down-arrow-filter {
    position: absolute;
    top: 30%;
    right: 10%;
}
#select-country-code {
    padding-right: 0;
}
#country-code,
#phone-number {
    margin: 0;
}


#profile-details,
#address-details,
#basic-note-details,
#institution-information,
#course-details,
#selling-information {
    padding-bottom: 25px;
}

#profile-details .heading-md,
#basic-note-details .heading-md {
    margin-bottom: 40px;
}


/* ===========================================
                Search Page
============================================== */

#input-search input,
#search select,
.note-search input {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #8a8a8a;
    font-weight: 400;
    border: 1px solid #d1d1d1;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
}

.search-icon {
    position: absolute;
    top: 33%;
    left: 1.4%;
}

/* codepen */
.rating {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 30px;
    /* overflow: hidden; */
    /* display: flex; */
    align-items: center;
}
.rating p {
    direction: ltr;
    font-size: 16px;
    display: inline;
    margin: 0;
    margin-left: 6px;
    margin-right: auto;
}

.rating.rating2 input {
    float: right;
    opacity: 0;
    position: absolute;
}

.rating a,
.rating label {
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label:hover~label,
.rating input:focus~label,
.rating label:hover,
.rating a:hover,
.rating a:hover~a,
.rating a:focus,
.rating a:focus~a {
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: none
}


/* =======================================
                 Pagination
==========================================*/

ul.pagination {
    justify-content: center;
    margin-bottom: 60px;
}

.page-item .page-link {
    border: none;
}

.page-item {
    padding: 0 2px;
}

.page-item .page-link {
    color: #333333;
    display: inline-block;
    box-shadow: none;
}

.page-link i {
    -webkit-text-stroke: 1px white;
}

.page-link.active {
    color: #fff;
    border-radius: 50%;
    background-color: #6255a5;

}

.page-item .page-link:hover {
    color: #fff;
    background-color: #6255a5;
    border-radius: 50%;
}

.page-item:first-child .page-link:hover {
    background-color: #fff;
    color: #333333;
}

.page-item:last-child .page-link:hover {
    background-color: #fff;
    color: #333333;
}

/* ===========================================
                Notes Details Page
============================================== */
#note-details {
    margin-top: 100px;
}

#note-details .heading h3 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
}

#note-details .heading h2 {
    margin-bottom: 20px;
}

#note-description .heading-md {
    margin-bottom: 10px;
}

#note-description {
    padding-right: 130px;
}

#note-description h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    margin-bottom: 30px;
}

#note-right-side div.stars {
    margin-top: 5px;
}

#note-right-side .stars p {
    margin: 0;
    line-height: 25px;
}

#note-pic img {
    width: 100%;
    max-width: 240px;
}

#note-description p,
#customer-reviews p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    margin-bottom: 25px;
}
#customer-reviews .rating {
    display: inline-block;
    font-size: 25px;
    height: 40px;
}
#customer-reviews h4 img {
    width: 20px;
    height: 20px;
    float: right;
}

#customer-reviews hr {
    margin: 10px 0 20px 0;
}

#note-description a {
    width: 204px;
    margin-bottom: 0;
}

#note-right-side ul {
    list-style-type: none;
}

#note-right-side ul li,
#note-right-side ul li span.value,
#note-right-side .rating p {
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    color: #333333;
}

#note-right-side ul li span.value,
#note-right-side .rating p {
    font-weight: 600;
    color: #6255a5;
    float: right;
}

#note-right-side ul li:last-child {
    font-size: 14px;
    line-height: 18px;
    color: #df3434;
}

#note-right-side ul li:nth-child(8) {
    margin-bottom: 10px;
}

#note-right-side .ratings p {
    margin: 0 0 0 5px;
}

/* iframe pdf */
/* CSS for responsive iframe */
/* ========================= */

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Master-CC-and-Rs {

    max-height: 447px;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    height: auto;
}

/* inner wrapper: make responsive */
.responsive-wrapper {
    position: relative;
    height: 0;
    /* gets height from padding-bottom */

    /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-wrapper around iframe because not stable in CSS:
      -webkit-overflow-scrolling: touch; overflow: auto; */

}

.responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    border: none;
}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-572x612 {
    padding-bottom: 100%;
}

/* general styles */
/* ============== */
.set-border {
    border: 1px solid #4f4f4f;
}

/* .set-box-shadow { 
    -webkit-box-shadow: 4px 4px 14px #4f4f4f;
    -moz-box-shadow: 4px 4px 14px #4f4f4f;
    box-shadow: 4px 4px 14px #4f4f4f;
  } */
/* .set-padding {
    padding: 40px;
  } */
/* .set-margin {
    margin: 30px;
  } */
/* .center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
  } */
#content {
    border: 1px solid red;
}

#customer-reviews {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 30px;
    max-height: 100%;
    /* height: auto; */
}

#customer-reviews img {
    width: 100%;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
}

#customer-reviews h4.heading-sm {
    font-size: 18px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 0;
}

#customer-reviews .ratings {
    margin-bottom: 15px;
}
#customer-reviews .rating a {
    line-height: none;
}

#customer-reviews .col-md-1 {
    padding: 0;
}

#customer-reviews p {
    margin: 0;
}
/* =========================================
                Thanks PopUp
============================================ */
.modal-dialog {
    margin-top: 150px;
}

.modal-header {
    border: none;
}

.modal-header button {
    height: 50px;
    outline: none;
}

.modal-body {
    padding: 0 55px 0 40px;
}

#thanks-content .heading-sm {
    margin: 15px 0 30px 0;
    font-size: 26px;
    line-height: 30px;
}

#thanks-content h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #333333;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10;
}

#thanks-content p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
    margin-bottom: 30px;
}

/* =========================================
                Dashboard page
============================================ */


#dashboard .heading-md {
    margin-bottom: 30px;
}

#dashboard h2.heading-sm {
    margin: 10px 0;
}

#add-note-btn {
    float: right;
    width: 150px;
    font-weight: 700;
}


#dashboard-stats .row {
    height: 100%;
}

.dashboard-stats-box {
    border: 1px solid #d1d1d1;
    height: 151px;
    border-radius: 3px;
    margin-bottom: 30px;
}

#dashboard-stats .col-xl-7 .col-xl-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-stats-box .row .col-xl-4:first-child {
    border-right: 1px solid #d1d1d1;
}

#dashboard-stats .heading-md {
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
}

#dashboard-stats .heading-sm {
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
}

#dashboard-stats h3.heading-sm {
    margin-bottom: 10px;
}

#dashboard-stats p {
    margin-bottom: 0;
}

#box-1 {
    height: 100%;
    width: 100%;
    padding: 0 0 0 15px;

}

.note-search {
    float: right;
    margin-bottom: 20px;
}

.note-search .search-icon {
    left: 1.8%;
}

.note-search input {
    margin: 0;
    width: 322px;
    padding: 0 9%;
}

/* Tables */
.table {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    height: 444px;
    margin-bottom: 50px;
}

.table td,
.table th,
.table thead th {
    vertical-align: middle;
}

#in-progress .table thead th:nth-child(5),
#in-progress .table tr td:nth-child(5) {
    text-align: center;
}

#published-note .table thead th:nth-child(6),
#published-note .table tr td:nth-child(6) {
    text-align: center;
}

#dashboard .table tbody tr:nth-child(3) {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

table th,
table tr {
    height: 75px;
}

.table th,
.table td {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
}

.table td {
    font-weight: 400;
}
.table td button {
    font-family: "Opwn Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    width: 112px;
    height: 40px;   
}


td i {
    color: #8a8a8a;
}

td .dropdown {
    display: inline-block;
}

td a#dropdownMenuButton {
    width: 10px;
    margin: 0;
}
td .dropdown a {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #333333;
}
td a.dropdown-item {
    margin: 7px 0;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    margin-bottom: 3px;
}
.btn-danger {
    background-color: #ff3636;
    border-color: #ff3636;
    margin-bottom: 3px;
}
.btn-secondary {
    background-color: #cccccc;
    border-color: #cccccc;
    margin-bottom: 3px;

}

/* =======================================
                Dropdown
==========================================*/

.dropdown-menu {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
}

ul.navbar-nav a#dropdownMenuButton {
    margin-right: 30px;
}

a#dropdownMenuButton {
    width: 40px;
    margin-right: 30px;
}

.white-navbar .dropdown .dropdown-item:focus,
#mobile-nav .dropdown .dropdown-item:focus,
td .dropdown .dropdown-item:focus {
    background-color: #6255a5;
    color: #fff;
}

.white-navbar .dropdown .dropdown-item.active,
#mobile-nav .dropdown .dropdown-item.active {
    background-color: #6255a5;
    color: #fff;
    border: none;
}

ul.navbar-nav .dropdown a.dropdown-item,
#mobile-nav .dropdown a.dropdown-item {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #333333;
}
ul.navbar-nav .dropdown a.dropdown-item,
#mobile-nav .dropdown a.dropdown-item {
    margin: 7px 0;
}
ul.navbar-nav .dropdown .dropdown-item.logout,
#mobile-nav .dropdown .dropdown-item.logout {
    text-transform: uppercase;
    color: #6255a5;
    font-weight: 600;
}

ul.navbar-nav .dropdown .dropdown-menu a:last-child:focus {
    color: #fff;
}